body {
    background: url(../img/background.jpg);
}

.myNav {
    width: 70%;
    margin: 10px auto auto auto;
}

.formRegister {
    width: 500px;
    margin: 50px auto auto auto;
    text-align: center;
}

.errorInfo {
    text-align: center;
    color: black;
    background-color: crimson;
}

.info {
    text-align: center;
    color: black;
    background-color: white;
    width: 70%;
    margin: 10px auto auto auto;
}

.addNote {
    width: 70%;
    height: 40px;
    margin: 10px auto auto 15%;
    background-color: white;
    color: black;
    text-align: center;
}

.content {
    background-color: white;
    color: black;
    margin: 10px 15%;
    width: 70%;
    height: 100%;
}

#notesForToday {
    background-color: blue;
    color: black;
    width: 49%;
    float: left;
    display: inline-block;
    text-align: center;
}

#notesForTomorrow {
    background-color: aqua;
    color: black;
    width: 49%;
    float: right;
    display: inline-block;
}

.note {
    display: inline-block;
    width: 24%;
    text-align: left;
    margin-top: 5px;
}

.noteTitle {
    background-color: blueviolet;
}

.noteDescription {
    background-color: red;
    display: none;
}

.profile {
    background-color: white;
}

.photoContainer {
    width: 200px;
    height: 200px;
    display: inline-block;
    float: left;
}

.profilePhoto {
    width: 200px;
    height: 200px;
}

.profileInfo {
    height: 200px;
    width: calc(100% - 200px);
    background-color: aquamarine;
    display: inline-block;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    line-height: 75px;
}

.editButton{
    float: right;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}