body {
    background: url(../img/background.jpg);
}

.myNav {
    width: 70%;
    margin: 10px auto auto auto;
}

.formRegister {
    width: 500px;
    margin: 50px auto auto auto;
    text-align: center;
}

.errorInfo {
    text-align: center;
    color: black;
    background-color: crimson;
}

.info {
    text-align: center;
    color: black;
    background-color: white;
    width: 70%;
    margin: 10px auto auto auto;
}

.notesTitle {
    width: 35%;
    height: 100px;
    background-color: white;
    color: black;
    display: inline-block;
    margin-top: 10px;
}

.notes {
    width: 35%;
    height: 100%;
    background-color: white;
    color: black;
    display: inline-block;
}

#todayNotesTitle{
    margin-left: 15%;
}

#todayNotes {
    margin-left: 15%;
}

#tomorrowNotes {

}

.addNote {
    width: 70%;
    height: 40px;
    margin: 10px auto auto 15%;
    background-color: white;
    color: black;
    text-align: center;
}

.content{
    background-color: white;
    color: black;
    margin: 10px 15%;
    width: 70%;
    height: 100%;
}

#notesForToday{
    background-color: blue;
    color: black;
    width: 49%;
    float: left;
    display: inline-block;
    text-align: center;
}

#notesForTomorrow{
    background-color: aqua;
    color: black;
    width: 49%;
    float: right;
    display: inline-block;
}

.noteTitle{
    background-color: blueviolet;
}

.noteDescription{
    background-color: brown;
    display: none;
}

.note{
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-top: 5px;
}